body{
    font-family: 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    background-color:lightgray;
}
h1,h2,h3, .subheading{
    font-family: 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif !important;
}
a:hover{
    color:rgb(215, 165, 73);
}
p{
    font-size: 32px;
    line-height: 1.5;
    color: rgb(175, 35, 35);
}
.motivational-message{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}